{% extends 'layout.html' %}
{% block content %}
    <div>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.pokemon.label }}
                {{ form.pokemon }}
                {{ form.submit }}
            </div>
            <div>
                {% if form.pokemon.errors %}
                    {% for error in form.pokemon.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}

                {% endif %}
            </div>
        </form>
    </div>
    <div>
        <a href="/">Go back to the home page</a>
    </div>
{% endblock content %}